name: azuracast

services:
  web:
    image: ghcr.io/azuracast/azuracast:${AZURACAST_VERSION:-latest}
    container_name: azuracast
    restart: unless-stopped

    # Coolify proxy'nin bağlanacağı internal portlar
    expose:
      - "80"
      - "443"

    # Host'a sadece gerekli portları aç (panel değil, stream ve sftp)
    ports:
      - "${AZURACAST_SFTP_PORT:-2022}:2022"

      # Radyo yayın portları (AzuraCast default: 8000-8499)
      # Host tarafını 18000-18499'a taşıyoruz (çakışmasın diye)
      - "18000-18499:8000-8499"

    env_file:
      - azuracast.env
      - .env

    volumes:
      - station_data:/var/azuracast/stations
      - backups:/var/azuracast/backups
      - db_data:/var/lib/mysql
      - www_uploads:/var/azuracast/storage/uploads
      - shoutcast2_install:/var/azuracast/storage/shoutcast2
      - stereo_tool_install:/var/azuracast/storage/stereo_tool
      - rsas_install:/var/azuracast/storage/rsas
      - geolite_install:/var/azuracast/storage/geoip
      - sftpgo_data:/var/azuracast/storage/sftpgo
      - acme:/var/azuracast/storage/acme

    ulimits:
      nofile:
        soft: 65536
        hard: 65536

    logging:
      options:
        max-size: "1m"
        max-file: "5"

  updater:
    image: ghcr.io/azuracast/updater:latest
    container_name: azuracast_updater
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    logging:
      options:
        max-size: "1m"
        max-file: "5"

volumes:
  db_data: {}
  acme: {}
  shoutcast2_install: {}
  stereo_tool_install: {}
  rsas_install: {}
  geolite_install: {}
  sftpgo_data: {}
  station_data: {}
  www_uploads: {}
  backups: {}
